/* font-family: 'Poppins', sans-serif; */
body{
    font-family: 'Poppins', sans-serif; 
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:#5B5A8F;
}
.hero-section{
    background-color: #e9fff5;
    min-height: 100vh;
}
.navbar-brand img {
    width: 25%;
}
.hero-content{

}
.hero-content h5{

color: #FD511A;

font-size: 16px;

line-height: 24px;

font-weight: 400;
}
.hero-content h1{

color: #000;

font-size: 48px;

line-height: 70px;
}
.hero-content h1 span{
    color: #21B573;
}
.hero-content p{

color: #6C6B6B;

font-size: 16px;

line-height: 36px;

font-weight: 600;
}
.btn-custom{
    
color: #FFFFFF;
    
font-size: 16px;
    
line-height: 19px;
    
padding: 10px 20px;
    
border-radius: 50px;
    
background-color: #21B573;
}
.feature-content{

background: #F8FFFB;
padding: 50px 0px;
}
.feature-content img{
    
width: 20%;
}
.feature-content h2{
margin-top: 15px;
color: #413960;
    
font-size: 24px;
    
line-height: 36px;
}
.feature-content p{
    
color: #585859;
    
font-size: 16px;
    
line-height: 24px;
}
.feature-content:hover{
background-color: #fff;
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}
.course{

background: #fff;

padding: 20px;

box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);

border-radius: 18px;
}
.course img{

}
.course h2{

color: #413960;

font-size: 24px;

line-height: 36px;

margin-top: 30px;
}
.course h5{

color: #585859;

font-size: 16px;

line-height: 24px;
}
.btn-course{

color: #fff;

font-size: 16px;

line-height: 19px;

padding: 6px 12px;

border-radius: 50px;

background: #21B573;

margin: 20px 0px;
}
.btn-course:hover{
    background-color: #10975b;
    color: white;
}
.course ul{

list-style: none;

margin: 0;

padding: 0;

display: flex;

justify-content: space-between;
}
.course ul li{

color: #585859;
}
.course ul li i{

margin-right: 11px;
} 
.heading h1{
    
color: #413960;
    
font-size: 36px;
    
line-height: 54px;
    
text-align: center;
}
.client{
        width: 44%;
        margin: auto;
        /* border: 1px solid; */
        border: 1px solid #c9c9c9;
        border-radius: 71px;
        overflow: hidden;
        margin-right: 15px;
    }
}
.client img{
    max-width: 100%;
}
.Testimonial p{
    color: black;
    font-size: 16px;
    line-height: 30px;
}
footer{

background: #282531;

color: white;
}
footer p{
    
font-size: 16px;
    
line-height: 30px;
}
footer ul{
    
list-style: none;
}
footer ul li{
    
font-size: 18px;
    
line-height: 30px;
    
font-weight: 200;
}
footer ul li:first-child{
    font-weight: 600;
}